node_modules/
dist-client/
dist-server/
.env
.DS_Store
data/
content-input/*
!content-input/README.md
generated-assets/
!content/generated-assets/
!content/generated-assets/**
coverage/
*.sqlite*
content/generated-assets/mysteries/
!content/generated-assets/meme-references/
!content/generated-assets/meme-references/*.webp
